html,
body {
  font-family: $regular-font, sans-serif;
  font-size: $standart-font-size;
  background-color: $white;
  color: $grey;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0px 15px;
}

.form__block {
  flex: 0 1 auto;
  margin: 100px;
}

.form__items {
  width: 700px;
  padding: 65px 0px;
  border: 1px solid $blue;
  border-radius: 28px;
  background-color: $white;
}

.form__main {
  display: flex;
  flex-direction: column;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 55px;
  margin: 30px 0px;
}

.form__item input {
  border-bottom: 2px solid $blue;
  width: 100%;
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
  color: $blue;
}

.form__item label {
  position: absolute;
  top: -15px;
  left: 50px;
  display: inline-block;
  font-family: $regular-font;
  font-size: $large-font;
  font-weight: $bold;
  transition: all 0.2s ease-out;
}

.form__item input:focus ~ label {
  top: -25px;
  left: 50px;
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
}

.task__block {
  flex: 1 1 auto;
}

.footer {
  background-color: $blue;
  width: 100%;
}

.footer_row {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
  color: $white;
}
