html,
body {
  font-family: $regular-font, sans-serif;
  font-size: $standart-font-size;
  background-color: $white;
  color: $grey;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0px 15px;
}

.form__block {
  flex: 0 1 auto;
  margin: 50px;
}

.form__items {
  width: 500px;
  padding: 25px 0px;
  border: 1px solid $blue;
  border-radius: 28px;
  background-color: $white;
}

.form__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__main button {
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
  color: $white;
  background-color: $blue;
  border-radius: 28px;
  transition: all 0.2s ease-out;
}

.form__main button:hover {
  background-color: $pink;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.form__item input {
  border-bottom: 2px solid $blue;
  width: 400px;
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
  color: $blue;
}

.form__item label {
  position: absolute;
  top: -15px;
  left: 0px;
  display: inline-block;
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $bold;
  transition: all 0.2s ease-out;
}

.form__item input:focus ~ label,
.value-exist ~ label {
  top: -25px;
  left: 0px;
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
}

.task__block {
  flex: 1 1 auto;
}

.task__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $pink;
  border-radius: 24px;
  max-width: 1500px;
  margin: 0 0 25px 0;
  padding: 25px;
}

.task__items h1 {
  margin-bottom: 25px;
  text-align: center;
  font-family: $regular-font;
  font-size: $large-font;
  font-weight: $bold;
  color: $grey;
}

.task__items p {
  margin-bottom: 25px;
  text-align: left;
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
  color: $grey;
}

.task__items button {
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
  color: $white;
  background-color: $blue;
  border-radius: 28px;
  transition: all 0.2s ease-out;
}

.task__items button:hover {
  background-color: $pink;
}

.footer {
  background-color: $blue;
  width: 100%;
}

.footer_row {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-family: $regular-font;
  font-size: $light-font-size;
  font-weight: $light;
  color: $white;
}
