//Color
$grey: #515151;
$white: #fff;
$blue: #94b2ef;
$pink: #c929e1;
//Size width
$container-width: 1920px;
$media-xl: 1199px;
$media-md: 991px;
$media-s: 767px;
// Fonts
$regular-font: "Roboto";
$large-font: 30px;
$standart-font-size: 27px;
$light-font-size: 25px;
$medium: 400;
$bold: 700;
$light: 300;
